header{
    background-color: var(--azul-escuro);
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 5rem;
    padding: 1rem;

    .logo{
        width: 20%;
        padding-left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        img{
            height: 3.5rem;
        }

        h1{
            font-family: var(--museo);
            font-weight: 500;
            font-size: 22px;
            width: 40%;
            text-wrap: nowrap;
        }
    }

    .opcoes{
        width: 60%;
        display: flex;
        justify-content:right;
        align-items: center;
        padding: 1.5rem 2rem 1.5rem 0rem;
        gap: 3rem;
        font-size: 22px;
        font-family: var(--jost);
        flex-direction: row;

        h2:hover{
            transform: scale(1.1);
        }
    }
}