footer{
    background: var(--azul-escuro);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;   

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 25rem;
        margin: 2rem 0rem;

        h4{
            padding: 2rem;
            font-size: 20px;
            color: white;
            font-family: var(--josefin);
            font-weight: 400;
            text-align: center;
        }

        span{
            font-weight: 900;
        }

        button{
            color: var(--azul-escuro);
        }
    }


    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: row;

        img{
            height: 3.5rem;
        }

        h1{
            font-family: var(--museo);
            font-weight: 500;
            font-size: 22px;
            text-wrap: nowrap;
        }
    }

    .rodape-1{
        margin-left: 10rem;
    }

    .rodape-2{
        margin-right: 10rem;
    }

    hr{
        height: 10rem;
    }
}