@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    //cores
    --azul-escuro: #4962F2;
    --roxo : #7957F2;
    --rosa : #D970B3;
    --azul-claro : #578BF2;

    //fontes
    --jost : "Jost", sans-serif;
    --museo : "MuseoModerno", sans-serif;
    --karla : "Karla", sans-serif;
    --josefin : "Josefin Sans", sans-serif;
}